.grid-container 
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  position: absolute;
  left: 0; right: 0; bottom: 0;
  z-index: 1;
  height: 10%;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 5em;
}

/* iPhone media query */
@media only screen and (device-aspect-ratio: 40/71)
{
  .grid-container
    {
      margin-top: 2em;
      height: 30%;
    }
} 

  
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px) 
{
 .grid-container
  {
    margin-top: 2em;
  height: 40%;
  }
}

.grid-item 
{
  text-align: center;
  border-radius: 1em;
}

/* iPhone plus media query */
@media only screen 
and (min-device-width : 375px) 
and (max-device-width : 667px)
{
  .grid-container
  {
    height: 30%;
  }
}

/* iPad media query */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  
{
  .grid-container
  {
   margin-top: 0
  }
}

/* samsung galaxy media query */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3)
{
   .grid-container
  {
    height: 30%;
  }
}